.Maindiv {
    width: 1045px;
    height: 726px;

    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;

    .Maintitle {
        display: flex;
        align-items: center;
        margin: 40px;

        h3 {
            margin: 0 auto 0 0;
            font-size: 20px;
        }

        h2 {
            margin: 0 0 0 auto;
            transform: rotate(45deg);
            font-size: 26px;
            color: #B4B3B3;
        }

        h2:hover {
            color: #111111;
        }
    }

    .MarkdownBody {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        margin-left: 200px;

        width: 1045px;
        height: auto;

        h5 {
            font-size: 25px;
        }

        h1 {
            font-size: 20px;
        }

        h2 {
            font-size: 15px;
            margin-left: 25px;
        }
    }
}