.Maindiv {
    width: 1045px;
    height: 726px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.Maintitle {
    display: flex;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 40px;

    h3 {

        font-size: 20px;


    }

    img {
        margin-left: auto;
        width: 18px;
        height: 18px;
    }
}

.Subdiv {
    height: 68px;
}

.Viewer {
    position: relative;
    height: 658px;

    display: flex;
    justify-content: center;
    align-items: center;
}