.Maindiv {
    width: 100%;
    height: 100%;
    background-color: rgb(253, 253, 253);
    display: flex;
    align-items: center;
}

.icon {

    background-color: rgb(184, 80, 80);

}

/* Left */
.Left {
    margin: 1rem;
    display: flex;
}

.Left h3 {
    margin-left: 1rem;
}

.Left img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 15px;
    border-color: black;
}

/* Right */
.Right {
    margin-left: auto;
    margin-right: 1rem;
    display:flex;
}

.Right img {
    width: 3rem;
    height: 3rem;

    border-radius: 15px;
    border-color: black;
    margin-left: 1rem;
}

.Right .Number {
    width: 13rem;
    height: 3rem;

    border-radius: 15px;
    background-color: #E89E9E;
    margin-left: 1rem;
}