.Maindiv {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.icon {

    background-color: rgb(184, 80, 80);
}
/* Left */
.Left {
    margin: 1rem;
    display: flex;
}

.Left h3 {
    margin-left: 1rem;
}

.Left img {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border-color: black;
}

/* Right */
.Right {
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
}

.Right img {
    width: 40px;
    height: 40px;

    border-radius: 20px;
    border-color: black;
    margin-left: 1rem;
}

.Right .Number {
    width: 200px;
    height: 50px;

    border-radius: 20px;
    background-color: #000000;
    margin-left: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
}

.Right .Number img {
    width: 15px;
    height: 15px;
    border-radius: 0px;
    border-color: black;
}

.Right .StateIng {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 50px;
    background-color: #E3E7FB;

    font-weight: bold;
    font-size: 14px;
    color: #5071FB;
    border-radius: 20px;
}
.Right .StateFinish {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 50px;
    background-color: #DDFCE6;

    font-weight: bold;
    font-size: 14px;
    color: #2A8242;
    border-radius: 20px;
}