.header {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .logo {
    display: flex;
    align-items: center;

    font-size: 20px;
    font-weight: 800;
    img {
      margin: 20px;
      width: 78px;
      height: 73px;
      border-radius: 15px;
    }
  }
  .profile {
    display: flex;
    justify-content: right;

    img {
      margin: 20px;
      width: 45px;
      height: 45px;
      border-radius: 10px;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  .left {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px;
    background-color: gray;
    width: 333px;
    height: 196px;

    border-radius: 30px;

    font-size: 50px;
  }
  .right {
    margin: 10px;

    width: 334px;
    height: 196px;

    .join {
      display: grid;
      place-items: center;
      text-align: center;

      width: 334px;
      height: 95px;

      background-color: gray;

      border-radius: 15px;
      input {
        width: 250px;
        height: 37px;
        border-radius: 15px;

        margin-bottom: 15px;
      }
    }

    .archive {
      margin-top: 9px;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 334px;
      height: 92px;

      background-color: gray;

      border-radius: 15px;
    }
  }
}
