.extradiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   background-color: none;
}

.Maindiv {
  width: 1440px;
  height: 872px;
  background-color: none;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;

  .logo {
    margin-left: 20px;
    margin-top: 20px;
    width: 170px;
    height: 53px;
  }
  .profile {
    display: flex;
    justify-content: right;
  }
}
.prifileImg {
  margin-top: 20px;
  margin-right: 20px;
  width: 53px;
  height: 53px;
  border-radius: 10px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 61px 375px 0px 375px;

  .new {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #5043e7;
    width: 217px;
    height: 134px;

    border-radius: 30px;

    font-size: 50px;
  }
  .join {
    margin-left: 20px;

    display: grid;
    place-items: center;
    text-align: center;

    width: 453px;
    height: 76px;

    padding: 30px 0px;

    background-color: #edf2fe;

    border-radius: 15px;

    input {
      width: 264px;
      height: 36px;
      border-radius: 15px;
      border: none;

      padding-left: 15px;
    }
  }
}

.process {
  display: grid;
  grid-template-columns: 1fr auto;

  margin: 80px 138px 20px 138px;

  font-size: 20px;
  font-weight: 900;

  input {
    width: 379px;
    height: 36px;

    padding-left: 15px;

    border-radius: 30px;
    border: #dcdddf;
  }
}

.rooms {
  display: grid;
  height: 335px;
  margin-left: 138px;
  margin-right: 138px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 21px;
  column-gap: 20px;

  overflow-x: hidden;
  overflow-y: auto;
}

.archive {
  display: grid;
  justify-content: center;

  grid-template-rows: 1fr 1fr;

  width: 217px;
  height: 157px;

  background-color: #ffffff;

  text-align: center;
  color: #5043e7;
  font-size: 14px;

  border: #dcdddf;
  border-radius: 15px;

  font-size: 14px;

  .completeImg {
    width: 32px;
    height: auto;
    margin: 51px 93px 14px 92px;
  }
}

.room {
  display: grid;
  grid-row: 1fr 1fr;
  justify-content: center;

  width: 217px;
  height: 157px;
  background-color: #ffffff;
  border-radius: 15px;

  .roomImg {
    width: 70px;
    height: 35px;

    margin: 40px 73px 48px 74px;
  }

  .roomName {
    font-size: 14px;
    margin-bottom: 18px;
    text-align: center;

  }
}
