.header {
  display: grid;
  grid-template-columns: auto 1fr auto;

  .logo {
    display: flex;
    align-items: center;

    font-size: 20px;
    font-weight: 800;
    .logoImg {
      margin: 20px;
      width: 78px;
      height: 73px;
      border-radius: 15px;
    }
  }
  .profile {
    display: flex;
    justify-content: right;
  }
}
.prifileImg {
  margin-top: 20px;
  margin-right: 36px;
  width: 45px;
  height: 45px;
  border-radius: 10px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 22px 375px 0px 375px;

  .new {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #5043E7;
    width: 217px;
    height: 134px;

    border-radius: 30px;

    font-size: 50px;
  }
  .join {
    margin-left: 20px;

    display: grid;
    place-items: center;
    text-align: center;

    width: 453px;
    height: 76px;

    padding: 30px 0px;

    background-color: #EDF2FE;

    border-radius: 15px;

    
    input {
      width: 264px;
      height: 36px;
      border-radius: 15px;
      border: none;
    }
  }
}

.process {
  margin: 80px 138px 20px 145px;
}

.archive {
  margin-top: 9px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 334px;
  height: 92px;

  background-color: #d9d9d9;

  border-radius: 15px;
}
