.Maindiv {
    width: 335px;
    height: 726px;

    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #f5f5f5;
}

hr {
    color: #ededed48;
    margin: 0;
}

.Head {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    /* 텍스트 중간 위치 */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0 30px;

    img {
        margin-left: auto;
        width: 20px;
        height: 20px;
    }
}




.Agenda {
    display: flex;
    flex-direction: column;
    height: 450px;
    overflow: scroll;

    .List {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 15px;
        height: auto;


        .Block {
            width: 210px;
            height: 50px;
            /* flex때문에 자식요소height도 줄어드는 이유 */
            flex-shrink: 0;

            background-color: #ffffff;

            display: flex;
            align-items: center;
            padding: 0 20px;

            color: #5a5a5a;

            img {
                margin-left: auto;
                width: 3px;
                height: auto;
            }

            .Text {
                display: flex;
                align-items: center;

                font-size: 16px;
                color: #111111;
                font-weight: bold;

                span {
                    font-size: 30px;
                }
            }
        }

        .ChosenBlock {
            width: 210px;
            height: 50px;
            /* flex때문에 자식요소height도 줄어드는 이유 */
            flex-shrink: 0;

            background-color: #ffffff;
            border-radius: 20px;

            display: flex;
            align-items: center;
            padding: 0 20px;

            font-weight: bold;
            border: 1px solid #5043E7;

            img {
                margin-left: auto;
                width: 3px;
                height: auto;
            }

            .Text {
                display: flex;
                align-items: center;

                font-size: 16px;
                color: #5043E7;
                font-weight: bold;

                span {
                    font-size: 30px;
                }
            }
        }
    }

    .Add {
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 64px;
        color: #B4B3B3;
        font-size: 14px;

        img {
            width: 14px;
            height: auto;
        }
    }
}