.Maindiv {
    width: 335px;
    height: 726px;

    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #f5f5f5;
}

hr {
    color: #ededed48;
}

.Head {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    /* 텍스트 중간 위치 */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0 30px;

    img {
        margin-left: auto;
        width: 20px;
        height: 20px;
    }
}

.End{
    margin-top:auto;
}




.Agenda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .List {
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 15px;
        height: auto;
        overflow: scroll;

        .Block {
            width: 210px;
            height: 50px;
            /* flex때문에 자식요소height도 줄어드는 이유 */
            flex-shrink: 0;

            background-color: #ffffff;
            border-radius: 20px;

            display: flex;
            align-items: center;
            padding: 0 20px;

            color: #5a5a5a;

            img {
                margin-left: auto;
                width: 3px;
                height: auto;
            }
        }

        .ChosenBlock {
            width: 210px;
            height: 50px;
            /* flex때문에 자식요소height도 줄어드는 이유 */
            flex-shrink: 0;

            background-color: #ffffff;
            border-radius: 20px;

            display: flex;
            align-items: center;
            padding: 0 20px;

            color: #5043E7;
            border: 1px solid;
            border-color: #5043E7;
            font-weight: bold;

            img {
                margin-left: auto;
                width: 3px;
                height: auto;
            }
        }
    }
    .Add {
        color: #B4B3B3;
        font-size: 14px;

        img {
            width: 14px;
            height: auto;
        }
    }
}