.Maindiv {
    flex: 1;
    display: block;
    height: 100%;

    background-color: #d9d9d9;
    border-radius: 15px;
}
.Maindiv h3{
    margin-left: 1rem;
    margin-top: 3rem;;
}
.Block {
    width: 23vw;
    height: 60px;
    margin: 1rem;

    background-color: #b0A3A3;
    border-radius: 15px;

    /* 텍스트 중간 위치 */
    display:flex;
    justify-content: center;
    align-items: center;

}

.List {
    height: 47%;
    overflow: scroll;
}
