@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html,
body {
    font-family: "Nanum Gothic";
    background-color: black;
    margin: 0;

    background-color: #f8f8f8;
    width: 100%;
    height: 100%;

    button {
        box-shadow: none;
        border: none;
    }
}

.extradiv {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ModalNew {

        width: 100%;
        height: 100%;
        background-color: #B4B3B399;

        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        .Modal {
            gap: 20px;

            width: 763px;
            height: 411px;
            border-radius: 30px;
            background-color: white;

            display: flex;
            justify-content: center;
            align-items: center;

            .Left {
                margin-left: 20px;
                width: 356px;
                height: 361px;

                border-radius: 30px;
                background-color: #333333;
            }

            .Right {
                /* margin: 15px 15px 15px 30px; */
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                margin-right: auto;

                form {
                    font-size: 12px;
                    width: 275px;
                    height: auto;
                }

                label {
                    height: 72px;
                    font-weight: bold;
                }

                .Input {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    margin-top: 8px;
                    margin-bottom: 15px;
                    border: none;

                    background-color: #F5F5F5;
                    border-radius: 15px;

                    width: 335px;
                    height: 50px;

                    input {
                        width: 100%;
                        height: 100%;
                        border: none;

                        padding-left: 15px;

                        background-color: #F5F5F5;
                        border-radius: 15px;
                        border: #DCDDDF 1px;
                    }

                    img {
                        margin-right: 20px;
                        width: 12px;
                        height: 8px;
                    }
                }



                button {
                    width: 335px;
                    height: 50px;
                    border-radius: 15px;

                    font-size: 14px;
                    color: white;
                    background-color: #5043E7;
                }

                .Tip {
                    display: flex;
                    justify-content: center;
                    align-items: center;


                    width: 275px;
                    height: 50px;
                    font-size: 10px;
                    color: black;
                    border-radius: 15px;
                }

                .ModalDiv {
                    width: 350px;
                    height: 361px;

                    h1 {
                        font-size: 20px;
                        font-weight: bold;
                        margin-left: 140px;
                    }

                    h2 {
                        font-size: 14px;
                        color: #B4B3B3;
                        margin-left: 320px;
                        transform: rotate(45deg);
                    }

                    h2:hover {
                        color: #111111;
                    }
                }
            }
        }
    }
}

.Maindiv {

    width: 1440px;
    height: 872px;
}

.Component {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    gap: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.DM {
    box-shadow: 2px 2px #dbdbdb;
    border-radius: 100%;

    position: fixed;
    right: 70px;
    bottom: 70px;
    overflow: visible;


    .DMdiv {
        background-color: #5043E7;
        border-radius: 45px;
        width: 50px;
        height: 50px;

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 25px;
            height: auto;
        }

        .ModalChat {
            box-shadow: 2px 2px #dbdbdb;

            position: absolute;
            right: 0%;
            bottom: 0%;

            width: 305px;
            height: 400px;
            border: 1px #E4E4E4;
            border-radius: 15px;
            background-color: #ffffff;

            hr {
                width: 100%;
                color: #ededed48;
            }

            .Top {
                display: flex;
                align-items: center;
                margin: 5px 0;

                p {
                    margin: 0;
                    margin-left: auto;
                    margin-right: 18px;
                    transform: rotate(45deg);
                    font-size: 14px;
                }

                h3 {
                    font-size: 14px;
                    margin-left: 20px;
                }
            }

            .ChatList {
                margin-right: 10px;
                margin-top: 20px;
                margin-bottom: 8px;
                height: 57%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 8px;

                .TextBox {
                    display: flex;
                    align-items: flex-end;

                    color: #333333;
                    font-size: 10px;

                    .Text {
                        border-radius: 15px;
                        background-color: #5043E7;
                        color: white;

                        width: auto;
                        height: auto;

                        margin-left: 4px;
                        padding: 13px 10px;

                        font-size: 14px;
                    }
                }
            }


            .Bottom {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                margin-top: auto;

                .Buttons {
                    display: flex;
                    gap: 6px;

                    button {
                        box-shadow: 2px 2px #dbdbdb;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        height: 28px;
                        background-color: #F5F5F5;
                        border: 1px #EDEDED;
                        border-radius: 10px;

                        color: #333333;
                        font-size: 12px;
                    }
                }

                .Inputdiv {
                    width: 285px;
                    height: 45px;

                    border: 1px #EDEDED;
                    border-radius: 15px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    margin-top: 8px;

                    background-color: #F5F5F5;

                    input {
                        border-left: 1px solid#EDEDED;
                        width: 212.5px;
                        height: 40px;

                        border: none;
                        background-color: #F5F5F5;

                        font-size: 12px;
                    }

                    .Emoji {
                        width: 20px;
                        height: auto;

                        margin-left: 10px;
                        margin-right: 10px;
                    }

                    .Send {
                        width: 20px;
                        height: auto;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}