@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html,
body {
    font-family: "Nanum Gothic";
    background-color: black;
    margin: 0;

    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
}

.extradiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Maindiv {

    width: 1440px;
    height: 872px;
}

.Component {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    gap: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.DM {
    position: fixed;
    background-color: #E89e9e;
    border-radius: 45px;
    width: 50px;
    height: 50px;
    right: 70px;
    bottom: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.DM img {
    width: 25px;
    height: auto;
}