html,
body {
    margin: 0;
}

.Maindiv {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 12% 88%;
}

.Component {
    margin:0 1rem 1rem 1rem;
    display: flex;
    gap: 1rem;
}
.Header{
}
