.extradiv {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.maindiv {
  width: 1440px;
  height: 872px;

  position: relative;
}

.profilePopup {
  z-index: 5;
  position: absolute;
  top: 77px;
  right: 47px;
  display: grid;
  justify-content: center;

  width: 219px;
  height: 123px;
  border-radius: 20px;

  background-color: #ffffff;
  border: #ededed;

  .deleteIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 12px;
    height: 12px;
  }
  .info {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 12px;

    .modalImg {
      margin-right: 10px;
      width: 43px;
      height: 43px;
      border-radius: 100px;
    }
    .text {
      width: 103px;
      height: 33px;
      margin: 0;

      .name {
        font-size: 14px;
        color: black;
      }
      .email {
        font-size: 10px;
        color: #908f8f;
      }
    }
  }

  .logout{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 179px;
    height: 36px;
    background-color: #FF7373;
    border-radius: 15px;

    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;

    .logoutIcon{
      width: 12px;
      height: 12px;
      margin-right: 4px;
    }
  }
}
