/* .body {
  z-index: 5;
  position: absolute;

  width: 100vw;
  height: 100vh;
} */

.main {
  position: absolute;
  top: 77px;
  right: 47px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 219px;
  height: 66px;
  border-radius: 20px;

  background-color: #FFFFFF;
  border: #EDEDED;
  
  .deleteIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 12px;
    height: 12px;
  }
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;

  .modalImg {
    margin-right: 20px;
    width: 43px;
    height: 43px;
    border-radius: 100px;
  }
}

.text {
  width: 103px;
  height: 33px;
  margin: 0;

  .name {
    font-size: 14px;
    color: black;
  }
  .email {
    font-size: 10px;
    color: #908f8f;
  }
}

.button {
  margin: 0px 20px;
}

.setting {
  width: 179px;
  height: 32px;

  margin-bottom: 5px;

  background-color: #c89d9d;
  border-radius: 30px;

  text-align: center;
  color: white;
}

.exit {
  width: 179px;
  height: 32px;

  margin-bottom: 15px;

  background-color: #eb9e9e;
  border-radius: 30px;

  text-align: center;
  color: white;
}
