.extradiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.maindiv {
  width: 1440px;
  height: 872px;

  position: relative;
}

.body {
  position: absolute;
  top: 77px;
  right: 47px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 219px;
  height: 66px;
  border-radius: 20px;

  background-color: #ffffff;
  border: #ededed;

  .deleteIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 12px;
    height: 12px;
  }
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;

  .modalImg {
    margin-right: 20px;
    width: 43px;
    height: 43px;
    border-radius: 100px;
  }
}

.text {
  width: 103px;
  height: 33px;
  margin: 0;

  .name {
    font-size: 14px;
    color: black;
  }
  .email {
    font-size: 10px;
    color: #908f8f;
  }
}
