.Maindiv {
    width:1045px;
    height:726px;
    border-radius: 20px;
    display: grid;
    gap: 20px;
}

.Subdiv {
    display: flex;
    gap: 20px;
}

.Block {
    width: 335px;
    height: 343px;

    background-color: #ffffff;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Block h3{
    font-size: 24px;
    margin-top: 275px;
    margin-left: 40px;
    align-self: flex-start;
}


.BigBlock {
    width: 690px;
    height: 363px;

    background-color: #ffffff;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BigBlock h3{
    font-size: 24px;
    margin-top: 275px;
    margin-left: 40px;
    align-self: flex-start;
}
