.Maindiv {
    width: 1045px;
    height: 726px;
    border-radius: 20px;
    display: grid;
    gap: 20px;
}

.Subdiv {
    display: flex;
    gap: 20px;
}

.Block {
    box-shadow: 2px 2px #dbdbdb;

    width: 335px;
    height: 343px;

    background-color: #ffffff;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        font-size: 24px;
        margin: auto auto 40px 40px;
    }

    .imgFile {
        margin-top: 93px;

        width: 111px;
        height: 138.75px;
    }

    .imgComment {
        margin-top: 100px;

        width: 147.09px;
        height: 126.63px;
    }

}

.BigBlock {
    box-shadow: 2px 2px #dbdbdb;

    width: 690px;
    height: 363px;

    background-color: #ffffff;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        font-size: 24px;
        margin: auto auto 40px 40px;
    }
}