.Maindiv {
    width: 100%;
    height: 100%;

    border-radius: 20px;
    flex: 3;

    display: grid;
    gap: 20px;
}

.Subdiv {
    display: flex;
    gap: 1rem;
}

.Block {
    width: 33%;
    height: 100%;

    background-color: #d9d9d9;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* text-align: center; */
}

.BigBlock {
    width: 66%;
    height: 100%;

    background-color: #d9d9d9;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Subdiv .Block img {
    width: 80%;
    height: 80%;
    border-color: aqua;

}