.Maindiv {
    width: 1045px;
    height: 726px;

    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.Maintitle {
    display: flex;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 40px;

    h3 {

        font-size: 20px;


    }

    img {
        margin-left: auto;
        width: 18px;
        height: 18px;
    }
}

.Subdiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
        display: flex;
    }

    form {
        padding: 20px;
        background-color: #F8FBFC;
        border: 1px solid #B4B3B3;
        border-radius: 20px;
    }

    h3 {
        justify-content: flex-start;
    }

    .Subtitle {
        width: 611px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin-top: 59px;
        margin-bottom: 30px;

        h3 {
            margin: 0 0;
            font-size: 20px;
            margin-right: 8px;
        }

        img {
            margin-left: auto;
            width: 98px;
            height: 40px;
        }
    }

    .Votelist {
        width: 611px;
        height:450px;
        overflow: scroll;
        .Vote {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 70px;

            border-radius: 20px;
            background-color: #ededed;
            margin-bottom: 20px;

            .VoteText {
                gap: 10px;
                display: flex;
                justify-content: center;
                flex-direction: column;

                padding-left: 34px;
                padding-right:20px;

                width: auto;
                height: 42px;

                h3 {
                    font-size: 16px;
                    margin: 0;
                }

                span {

                    font-size: 12px;
                    color: #b4b3b3;
                }
            }

            img {
                height: 12px;
                width: auto;
                margin-left: auto;
                margin-right:20px;
            }
        }
    }
}